{% set array = random_songs|raw %}
<script type="application/javascript">

console.log('{{ random_songs|json_encode()|raw}}');

    $(document).ready(function() {
        
        var newPlaylist = {{array|raw}};
        audioElement = new Audio();
        setTrack(newPlaylist[0], newPlaylist, false);
        updateVolumeProgressBar(audioElement.audio);

        $("#nowPlayingBarContainer").on("mousedown touchstart mousemove touchmove", function(e) {
            e.preventDefault();
        });


        $(".playbackBar .progressBar").mousedown(function(){
            mouseDown = true;
        })

        $(".playbackBar .progressBar").mousemove(function(e){
            if (mouseDown) {
                //Set time of song depending on position of mouse
                timeFromOffset(e, this);
            }
        });

        $(".playbackBar .progressBar").mouseup(function(e){
            timeFromOffset(e, this);
        })

        $(document).mouseup(function(){
            mouseDown = false;
        })

        $(".volumeBar .progressBar").mousedown(function(){
            mouseDown = true;
        })

        $(".volumeBar .progressBar").mousemove(function(e){
            if (mouseDown) {
                var percentage = e.offsetX / $(this).width();

                if (percentage >= 0 && percentage <= 1) {
                    audioElement.audio.volume = percentage; 
                }
            }
        });

        $(".volumeBar .progressBar").mouseup(function(e){

            var percentage = e.offsetX / $(this).width();

            if (percentage >= 0 && percentage <= 1) {
                audioElement.audio.volume = percentage; 
            }
        })

    });

    function timeFromOffset(mouse, progressBar) {
        var percent = mouse.offsetX / $(progressBar).width() * 100;
        var seconds = audioElement.audio.duration * (percent / 100);
        audioElement.setTime(seconds);
    }

    function prevSong() {
        if (audioElement.audio.currentTime >= 3 || currentIndex == 0) {
            audioElement.setTime(0);
        } else {
            currentIndex = currentIndex - 1;
            setTrack(currentPlaylist[currentIndex], currentPlaylist, false); 
        }
    }

    function nextSong() {

        if (repeat) {
            audioElement.setTime(0);
            audioElement.audio.play();
            return;
        }
        if (currentIndex == currentPlaylist.length -1) {
            currentIndex = 0;
        } else {
            currentIndex++;
        }

        var trackToPlay = shuffle ? shufflePlaylist[currentIndex] : currentPlaylist[currentIndex];
        setTrack(trackToPlay, currentPlaylist, true);
    }

    function setRepeat() {
        repeat = !repeat;

        var imageName = repeat ? "repeat-active.png" : "repeat.png";
        $(".controlButton.repeat img").attr("src", "/images/icons/" + imageName);
    }

    function setMute() {
        audioElement.audio.muted = !audioElement.audio.muted;

        var imageName = audioElement.audio.muted ? "volume-mute.png" : "volume.png";
        $(".controlButton.volume img").attr("src", "/images/icons/" + imageName);
    }

    function setShuffle() {
        shuffle = !shuffle;

        var imageName = shuffle ? "shuffle-active.png" : "shuffle.png";
        $(".controlButton.shuffle img").attr("src", "/images/icons/" + imageName);

        if (shuffle) {
            // Randomize playlist
            shuffleArray(shufflePlaylist);
            currentIndex = shufflePlaylist.indexOf(audioElement.currentlyPlaying.id);

        } else {
            // Shuffle has been deactivated 
            // Go back to regular playlist
            currentIndex = currentPlaylist.indexOf(audioElement.currentlyPlaying.id);

        }
    }

    /**
    * Shuffles array in place.
    * @param {Array} a items An array containing the items.
    */
    function shuffleArray(a) {
        var j, x, i;
        for (i = a.length - 1; i > 0; i--) {
            j = Math.floor(Math.random() * (i + 1));
            x = a[i];
            a[i] = a[j];
            a[j] = x;
        }
        return a;
    }

    function setTrack(trackId, newPlaylist, play) {

        if (newPlaylist != currentPlaylist) {
            currentPlaylist = newPlaylist;
            shufflePlaylist = currentPlaylist.slice();
            shuffleArray(shufflePlaylist);
        }
        
        if (shuffle) {
            currentIndex = shufflePlaylist.indexOf(trackId);
        } else {
            currentIndex = currentPlaylist.indexOf(trackId);
        }
        pause();

        console.log(trackId)
        $.post("/ajax/getSong", { songId: trackId }, function(data) {

            var track = JSON.parse(data);
            $(".trackName span").text(track.title);
            //console.log(track)

            $.post("/ajax/getArtist", { artistId: track.artist_id }, function(data) {
                var artist = JSON.parse(data);
                $(".artistName span").text(artist.name);
                $(".artistName span").attr("onclick", "openPage('/browse/artist/" + artist.friendly_url + "')");
            });

            $.post("/ajax/getAlbum", { albumId: track.album_id }, function(data) {
                var album = JSON.parse(data);
                $(".albumLink img").attr("src", '/' + album.artwork_path);
                $(".albumLink img").attr("onclick", "openPage('/browse/album/" + album.friendly_url + "')");
                $(".trackName span").attr("onclick", "openPage('/browse/album/" + album.friendly_url + "')"); 

            });

            $(".trackName span").text(track.title);
            audioElement.setTrack(track);
            console.log(track)
            if (play) {
                playSong();
            }
            //audioElement.audio.play();
            //play();
        });



    }

    // Initialize Shaka Player for audio playback
    async function initPlayer() {
        // Initialize the audio element
        const audioElement = document.getElementById('audio-player');
        const manifestURL = 'music/mpd/bensound-acousticbreeze.mpd'; // URL to the DASH manifest
        
        try {
            // Configure Shaka Player to use Widevine DRM
            await shaka.Player.probeSupport();
            const player = new shaka.Player(audioElement);
            await player.load(manifestURL);

            // Playback success
            console.log('Successfully loaded and played content.');
        } catch (error) {
            // Playback failure
            console.error('Error loading or playing content:', error);
        }
    }
  
    // Call the initPlayer function when the document is ready
    document.addEventListener('DOMContentLoaded', initPlayer);

    function playSong() {

        if (audioElement.audio.currentTime == 0) {
            $.post("/ajax/trackCountUpdate", { songId:  audioElement.currentlyPlaying.id }, function(data) {     
            });
        }

        $(".controlButton.play").hide();
        $(".controlButton.pause").show();
        audioElement.play();
    }

    function pause() {
        $(".controlButton.play").show();
        $(".controlButton.pause").hide();
        audioElement.pause();
    }
</script>

<div id="nowPlayingBarContainer">
    
    <div id="nowPlayingBar">

        <div id="nowPlayingLeft">
            <div class="content">
				<span class="albumLink">
					<img role="link" tabindex="0" src="" class="albumArtwork">
				</span>

                <div class="trackInfo">

					<span class="trackName">
						<span role="link" tabindex="0"></span>
					</span>

                    <span class="artistName">
						<span role="link" tabindex="0"></span>
					</span>

                </div>



            </div>
        </div>

        <div id="nowPlayingCenter">
            <audio id="audio-player" controls autoplay></audio>
            <div class="content playerControls">

                <div class="buttons">

                    <button class="controlButton shuffle" title="Shuffle button" onclick="setShuffle()">
                        <img src="/images/icons/shuffle.png" alt="Shuffle">
                    </button>

                    <button class="controlButton previous" title="Previous button" onclick="prevSong ()">
                        <img src="/images/icons/previous.png" alt="Previous">
                    </button>

                    <button class="controlButton play" title="Play button" onclick="playSong()">
                        <img src="/images/icons/play.png" alt="Play">
                    </button>

                    <button class="controlButton pause" title="Pause button" style="display: none;" onclick="pause()">
                        <img src="/images/icons/pause.png" alt="Pause">
                    </button>

                    <button class="controlButton next" title="Next button" onclick="nextSong()">
                        <img src="/images/icons/next.png" alt="Next">
                    </button>

                    <button class="controlButton repeat" title="Repeat button" onclick="setRepeat()">
                        <img src="/images/icons/repeat.png" alt="Repeat">
                    </button>

                </div>


                <div class="playbackBar">

                    <span class="progressTime current">0:00</span>

                    <div class="progressBar">
                        <div class="progressBarBg">
                            <div class="progress"></div>
                        </div>
                    </div>

                    <span class="progressTime remaining">0:00</span>


                </div>


            </div>


        </div>

        <div id="nowPlayingRight">
            <div class="volumeBar">

                <button class="controlButton volume" title="Volume button" onclick="setMute()">
                    <img src="/images/icons/volume.png" alt="Volume">
                </button>

                <div class="progressBar">
                    <div class="progressBarBg">
                        <div class="progress"></div>
                    </div>
                </div>

            </div>
        </div>




    </div>

</div>

