{% extends "registerbase.html" %}

{% block title %}Home{% endblock %}

{% block body %}

            <p> {{ error }} </p>

            <form action="/login/create" method="post">

                <h2>Login to your dummy account</h2>
                <p>
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                           placeholder="Enter email" value="{{ email }}">
                </p>

                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <p>
                    <input type="checkbox" class="form-check-input" name="remember_me" id="remember_me" {% if
                           remember_me %} checked="checked" {% endif %}>
                    Remember me
                </p>
                <button type="submit" class="loginButton">Log in</button>
                <br>
                Click <a href="/password/forgot">HERE</a> if you forgot your password
                <div class="hasAccountText"><br>
                    <a id="hideLogin" href="/register/new">Don't have an account yet? Signup here.</a>
                </div>
            </form>
        </div>
        <div id="loginText">
            <h1>Get great music, right now</h1>
            <h2>Listen to loads of songs for free</h2>
            <ul>
                <li>Discover music you'll fall in love with</li>
                <li>Create your own playlists</li>
                <li>Follow artists to keep up to date</li>
            </ul>
        </div>


<script>
    /*
    * Show password hide/show toggle button
    */
    //$('#password').hideShowPassword({
    //    show: false,
    //    innerToggle: 'focus',
    //});

</script>

</body>
</html>

{% endblock %}
